            <a href="#b" id="b" accesskey="b" class="acc" title="下方選單連結區(B)">:::</a>
            <div class="sponsors">
                <!--※ 提醒小幫手-->
                <!--贊助單位圖片的ALT要有圖片上每個贊助單位的名稱-->
                <img src="https://dummyimage.com/810x50/#e9ebee/000?retina=1&text=sponsors" alt="ALT要填寫圖片上每個贊助單位的名稱">
            </div>
            <div class="mainfooter">
                <div class="side-left">

                    <div class="copyright">
                        <p>國立故宮博物院著作權所有</p>
                        <p>Copyright © National Palace Museum. All Rights Reserved.</p>
                        <p>建議瀏覽器：IE11以上，Google Chrome最新版本 (螢幕設定最佳顯示效果為1920*1080)</p>
                    
                        <!--※ 提醒小幫手-->
                        <!--不需通過無障礙的網站請記得拿掉這兩個標章-->
                        <!--需要通過無障礙的網站請記得先隱藏起來，取得標章後再顯示-->
                        <div class="acc-mark">
                            <a href="#" title="無障礙標章AA（另開視窗）" target="_blank">無障礙標章AA</a>
                        </div>
                    
                        <div class="gov-mark">
                            <a href="https://www.gov.tw/" title="我的E政府（另開視窗）" target="_blank">我的E政府</a>
                        </div>
                    </div>

                </div>
                <div class="side-right">
                    <ul class="footer-list">
                        <li>
                            <!--※ 提醒小幫手-->
                            <!--請記得填寫展場位置的網址（每個展覽不一定一樣）-->
                            <!--下方按鈕要注意是否為該展覽的樓層（或該語言版本）-->
                            <a href="https://www.npm.gov.tw/" class="footer-btn icon-position" target="_blank" title="展場位置（另開視窗）">
                                <span>展場位置</span>
                            </a>
                        </li>
                        <li>
                            <a href="https://www.npm.gov.tw/zh-tw/Article.aspx?sNo=02007001" class="footer-btn icon-info" target="_blank" title="時間票價資訊（另開視窗）">
                                <span>時間票價資訊</span>
                            </a>
                        </li>
                        <li>
                            <a href="https://www.npm.gov.tw/zh-tw/article.aspx?sno=02000310" class="footer-btn icon-member" target="_blank" title="故宮網路會員（另開視窗）">
                                <span>故宮網路會員</span>
                            </a>
                        </li>
                        <li>
                            <a href="https://www.facebook.com/npmgov" class="footer-btn icon-facebook" target="_blank" title="故宮粉絲專頁（另開視窗）">
                                <span>故宮粉絲專頁</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>