<div class="cd-popup2" role="alert">
  <div class="cd-popup-container cd-popup-container2">
    <!--表單-->
    <div class="cd-popup-container-right cd-popup-container-right2">
      <div class="cd-popup-container-right-top">
        <div class="cd-popup-container-right-top-title">
          機會是靠自己爭取的！
        </div>
        <div class="cd-popup-container-right-top-subtitle">
          填寫資料即享領取免費素材及抽獎資格
        </div>
      </div>
      <div class="cd-popup-container-right-bottom">
        <div class="popup-form _form">
					<form id="contact-form" class="form-distribution">
						<!--設定表單參數-->
            <input name="distribution" type="text" hidden value="19" />
            <input name="outletSub" type="text" hidden value="504" />
            <input name="mediaSub" type="text" hidden value="756" />
            <input name="type" type="text" hidden value="Event" />
            <input
              name="course"
              type="text"
              hidden
              value="HOLA！設計師幕後秘辛大揭露！"
            />
            <input name="gift" type="text" hidden value="線上課程+實體講堂" />
						<!--設定表單參數-->

						<div class="fieldset">
							<!--姓名-->
							<fieldset>
								<input class="fieldset-input" placeholder="真實姓名*" type='text' name='name' tabindex="1" />
							</fieldset>
	
							<!--手機-->
							<fieldset>
								<input class="fieldset-input" placeholder="手機號碼*" type="tel" name="cellphone" tabindex="2" />
							</fieldset>
	
							<!--城市-->
							<fieldset>
								<div class="select-form">
									<select id="city" class="select-form-block" name="city" tabindex="3">
										<option value="">請選縣市</option>
									</select>
	
									<select id="area" class="select-form-block" name="area" tabindex="4">
										<option value="">請選地區</option>
									</select>
								</div>
							</fieldset>
	
							<!--信箱-->
							<fieldset>
								<input class="fieldset-input" placeholder="電子信箱*" type="email" name="email" tabindex="5"/>
							</fieldset>
	
							<!--參加地區-->
							<fieldset>
								<legend class="fieldset-title">您是否想參與設計講堂？*</legend>
									<label class='input-check'>
											<input class="checkbox styled-checkbox" type='radio' name='zip' value='value1' data-value="台北場" data-mail_id="7" tabindex="6">
											<span>台北場</span>
									</label>
									<label class='input-check'>
											<input class="checkbox styled-checkbox" type='radio' name='zip' value='value2' data-value="台中場" data-mail_id="6" tabindex="7">
											<span>台中場</span>
									</label>
									<label class='input-check'>
											<input class="checkbox styled-checkbox" type='radio' name='zip' value='value3' data-value="高雄場" data-mail_id="9" tabindex="8">
											<span>高雄場</span>
									</label>
									<label class='input-check'>
											<input class="checkbox styled-checkbox" type='radio' name='zip' value='value4' data-value="暫無興趣" data-mail_id="10" tabindex="9">
											<span>暫無興趣</span>
									</label>
							</fieldset>
	
							<!--詢問相關問題-->
							<fieldset>
								<textarea id="message_area" class="fieldset-input" placeholder="想詢問設計相關問題..." name='message_area' name="remark" tabindex="10"></textarea>
							</fieldset>
	
							<!--詳細閱讀-->
							<fieldset class="flex justify-center">
								<label class='input-check'>
									<input type='checkbox' name='agreement' value='horror'><span class="privacy-check"></span>
								</label>
								<span class="privacy-text">我已詳細閱讀並同意<a
									href="https://www.appedu.com.tw/frame-privacy"
									target="_blank"
									class="form-privacy"
									>隱私權使用條款</a>
							</span>
							</fieldset>
	
							<!--送出按鈕-->
							<div class="btn-submit-wrap">
								<input class="btn-submit" type='submit' name='submit' value='確認送出' />
							</div>
						</div>

          </form>
        </div>
      </div>
    </div>
  </div>
  <!-- cd-popup-container -->
</div>
<!-- cd-popup -->
