@charset "UTF-8";
@import "./utils/_utils.scss";


  // * ==========================================================================
  // * 主要內容區域（#main 裡面的基本樣式）
  // * ==========================================================================

  #main {
     padding-top: 60px;
     padding-bottom: 60px;
    position: relative;
    // height: 100%;

    // 單頁式網站的主要內容區塊
    &.anchor-main {
      padding-top: 0px;
      padding-bottom: 0px;
    }
  }

  // * ==========================================================================
  // * 頁面外圍控制整體布局寬度
  // * ==========================================================================

  .wrap {
    width: calc(100% - 10%);
    margin: auto;
  }

	.wrap-content{
		width: 100%;
	}

	.layout-1{
		width: 100%;
		min-height: 776px;
		background-color: $color-black;
		transition: 0.2s;
		min-height: 776px;

		@include min-height(800px){
			min-height: 80vh;
		}
	}


  // * ==========================================================================
  // * 標題
  // * ==========================================================================

	.h1{
		font-size: 2rem;
		text-align: center;
	}


  // * ==========================================================================
  // * 功能按鈕區塊
  // * ==========================================================================

	.main-content{
		width: 300px;
		margin: 0 auto;

		>li{
			margin-bottom: 1rem;

			>a{
				display: block;
				text-align: center;
				font-size: 1.5rem;
				text-transform: uppercase;
			}
		}
	}

  // * ==========================================================================
  // * 字級縮放
  // * ==========================================================================


  // * ==========================================================================
  // * 內文區塊
  // * ==========================================================================

 

  // * ==========================================================================
  // * 單頁式網站的區塊
  // * ==========================================================================

	.component-from{
		width: 100%;
		display: flex;
		justify-content: center;
	}
 
