.main-index{
	width: 100%;
	flex-wrap: wrap;
	display: flex;
	margin-top: 3rem;
	border-top: 1px solid black;

	>li{
		width: calc((100% - 0px)/5);
		border-bottom: 1px solid black;
		border-left: 1px solid black;

		&:nth-child(5n+5){
			border-right: 1px solid black;
		}

		>a{
			padding: 2rem;
			display: block;
			font-size: 1.5rem;
			text-align: center;
			text-transform: uppercase;
			color: $color-black;
			transition: 0.2s;

			@include min-width(1024px) {
				&:hover{
					background-color: $color-black;
					color: $color-white;
				}
			}
		}
	}
}